body{
    font-size: 22px;
    color: #000000;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.input{
    width: 750px;
    margin: 100px 0 auto;
}

.list{
    list-style: none;
    background-color: #F0FFFF;
    border: 1px dotted #070707;
    text-align: left;
}

.task{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-items: space-between;
    width: 780px;
    margin: 5px;
}

.text{
    width: 700px;
    overflow-wrap: break-word;
}

.checkbox{
    margin-right: 20px;
}

.deleteButton {
    margin-left: auto;
    color: red;
    border-color: red;
    border-radius: 90%;
    height: 25px;
    width: 25px; 
}

.done{
    margin-left: 37px;
    text-decoration: line-through;
}